*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-body;
  color: $color-primary-dark;
  line-height: 1.6;
  background: #f4f4f7;
}
