.mobile {
  display: none;
}

.handshake-img {
  width: 30rem;
  height: 60%;
  margin: 0 4rem;
}

.red-dot {
  position: absolute;
  top: 23rem;
  right: 3rem;
  height: 10rem;
  opacity: 0.3;
}

.blacktree-img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 30%;
}

.dollar-img {
  position: absolute;
  top: 23rem;
  left: 3rem;
  height: 4rem;
  opacity: 0.1;
}

.short-underline {
  width: 10%;
  border-bottom: 2px solid $color-primary-orange;
}

.flex-center {
  display: flex;
  justify-content: flex;
  align-items: center;
}
