.about {
  &__main-text {
    justify-content: center;
    align-items: center;
  }

  &__title-one {
    text-align: center;
  }
  &__title-two {
    text-align: center;
  }
  &__location {
    margin-top: 2rem;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
  }
  &__mail {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-primary-dark;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem auto;
    width: 100%;
  }
}
